In [1]:
import pandas as pd
import os
import zipfile

c:\Users\ziggy\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Donwloading Data

In [2]:
ipo_age_df = pd.read_csv('inputs/IPO-age(9).csv')
SPACs_df = pd.read_csv('inputs/SPACs2016-2021.csv')
ccm_df = pd.read_csv('inputs/all_ccm_data.csv')

C:\Users\ziggy\AppData\Local\Temp\ipykernel_27776\2664457269.py:3: DtypeWarning: Columns (29,33) have mixed types. Specify dtype option on import or set low_memory=False.
  ccm_df = pd.read_csv('inputs/all_ccm_data.csv')

Narrowing Horizon to 2000-2018

In [3]:
ipo_age_df = ipo_age_df[ipo_age_df['offer date'] > 20000000]
ipo_age_df = ipo_age_df[ipo_age_df['offer date'] < 20190000]
ipo_age_df = ipo_age_df.iloc[:, :-3]
# ipo_age_df

In [7]:
ipoAndCCM = pd.merge(left=ipo_age_df, right=ccm_df, how='left', left_on='CUSIP', right_on='cusip')
ipoAndCCM.to_csv('inputs/correctmerge.csv')
ipoAndCCM['CUSIP']

0        640475109
1        758865109
2        42222H106
3        302255104
4        302255104
           ...
10284    12528N206
10285    88557W101
10286    52472M101
10287     15957A10
10288    G6096M106
Name: CUSIP, Length: 10289, dtype: object

In [ ]:
SPACs_df['Date of IPO'] = pd.to_datetime(SPACs_df['Date of IPO'])
start_date = '2000-01-01'
end_date = '2019-01-01'
SPACs_df = SPACs_df[(SPACs_df['Date of IPO'] >= start_date) & (SPACs_df['Date of IPO'] <= end_date)]
SPACs_df['IS_SPAC'] = 1
# SPACs_df

,SPAC IPO,Date of IPO,CUSIP,IS_SPAC
920,Chardan Healthcare Acquisition Corp.,2018-12-18,09090D202,1
921,CF Finance Acquisition Corp.,2018-12-17,12528N206,1
922,Schultze Special Purpose Acquisition Corp.,2018-12-13,80821R208,1
923,FinTech Acquisition Corp. III,2018-11-20,31811A309,1
924,AMCI Acquisition Corp.,2018-11-20,00165R200,1
...,...,...,...,...
1008,"Landcadia Holdings, Inc.",2016-06-01,51476W206,1
1009,CF Corp.,2016-05-25,NaN,1
1010,KLR Energy Acquisition Corp.,2016-03-16,777385204,1
1011,Jensyn Acquisition Corp.,2016-03-07,47632B201,1
1012,Silver Run Acquisition Corp.,2016-02-29,82811P200,1

In [ ]:
ipoAndCCM = pd.read_csv('inputs/correctmerge.csv')
cleaned_spacs = pd.read_csv('inputs/CCM_Cusip.csv')

C:\Users\ziggy\AppData\Local\Temp\ipykernel_7036\1148126979.py:1: DtypeWarning: Columns (5,7,8,10,25,27,32,41,45) have mixed types. Specify dtype option on import or set low_memory=False.
  ipoAndCCM = pd.read_csv('inputs/correctmerge.csv')

In [ ]:
cleaned_spacs['IS_SPAC'] = 1
ziggymerge = pd.merge(left= ipoAndCCM, right= cleaned_spacs, how='left', left_on='cusip', right_on='ccm_cusip')
ziggymerge.to_csv('inputs/finalforrealmerge.csv')