In [1]:
import pandas as pd
import os
import zipfile

c:\Users\ziggy\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Donwloading Data

In [2]:
ipo_age_df = pd.read_csv('inputs/IPO-age(9).csv')
SPACs_df = pd.read_csv('inputs/CCM_Cusip.csv')
ccm_df = pd.read_csv('inputs/all_ccm_data.csv')

C:\Users\ziggy\AppData\Local\Temp\ipykernel_26744\3055658101.py:3: DtypeWarning: Columns (29,33) have mixed types. Specify dtype option on import or set low_memory=False.
  ccm_df = pd.read_csv('inputs/all_ccm_data.csv')

Narrowing Horizon to 2000-2018

In [3]:
ipo_age_df = ipo_age_df[ipo_age_df['offer date'] > 20000000]
ipo_age_df = ipo_age_df[ipo_age_df['offer date'] < 20190000]
ipo_age_df = ipo_age_df.iloc[:, :-3]
# ipo_age_df

In [4]:
ipoAndCCM = pd.merge(left=ipo_age_df, right=ccm_df, how='left', left_on='CUSIP', right_on='cusip')
ipoAndCCM.to_csv('inputs/correctmerge.csv')
ipoAndCCM['CUSIP']

0        640475109
1        758865109
2        42222H106
3        302255104
4        302255104
           ...
10284    12528N206
10285    88557W101
10286    52472M101
10287     15957A10
10288    G6096M106
Name: CUSIP, Length: 10289, dtype: object

In [5]:
ipoAndCCM = pd.read_csv('inputs/correctmerge.csv')
cleaned_spacs = pd.read_csv('inputs/CCM_Cusip.csv')

cleaned_spacs

C:\Users\ziggy\AppData\Local\Temp\ipykernel_26744\2787739150.py:1: DtypeWarning: Columns (5,7,8,10,25,27,32,41,45) have mixed types. Specify dtype option on import or set low_memory=False.
  ipoAndCCM = pd.read_csv('inputs/correctmerge.csv')

,Comapny Name,Date of IPO,Cusip,CCM_Cusip,IPO_age_Cusip
0,FinTech Acquisition Corp. III,11/20/2018,31811A309,31809H100,31811A309
1,AMCI Acquisition Corp.,11/20/2018,00165R200,00165R101,00165R200
2,Alberton Acquisition Corp.,10/26/2018,NaN,G35006108,G35006116
3,Graf Industrial Corp.,10/18/2018,384278206,384278107,384272209
4,EdtechX Holdings Acquisition Corp.,10/10/2018,28139A201,28138X103,28138X202
...,...,...,...,...,...
66,M III Acquisition Corp.,7/7/2016,55378T203,09249V103,55378T203
67,"Landcadia Holdings, Inc.",6/1/2016,51476W206,51476W107,51476W206
68,KLR Energy Acquisition Corp.,3/16/2016,777385204,49877M108,49877M207
69,Jensyn Acquisition Corp.,3/7/2016,47632B201,47632B102,47632B201
70,Silver Run Acquisition Corp.,2/29/2016,82811P200,82735Q102,82811P200

In [6]:
cleaned_spacs['IS_SPAC'] = 1

In [7]:
ziggymerge = pd.merge(ipo_age_df, cleaned_spacs, how='left', left_on='CUSIP', right_on='IPO_age_Cusip')
ziggymerge

,offer date,IPO name,ticker,CUSIP,Rollup,VC,Dual,Internet,Post-issue shares,CRSP perm,Founding,Comapny Name,Date of IPO,Cusip,CCM_Cusip,IPO_age_Cusip,IS_SPAC
0,20000124,Neoforma.com Inc,NEOF,640475109,0,1,0,1,.,87574,1996,NaN,NaN,NaN,NaN,NaN,NaN
1,20000124,Regent Communications Inc,RGCI,758865109,1,2,0,0,.,87564,1996,NaN,NaN,NaN,NaN,NaN,NaN
2,20000125,HealthGate Data Corp,HGAT,42222H106,0,0,0,1,.,87561,1994,NaN,NaN,NaN,NaN,NaN,NaN
3,20000126,Extensity Inc,EXTN,302255104,0,1,0,0,.,87572,1995,NaN,NaN,NaN,NaN,NaN,NaN
4,20000126,John Hancock Financial Svcs,JHF,41014S106,0,0,0,0,.,87536,1862,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4008,20181213,CF Finance Acquisition Corp,CFFAU,12528N206,0,0,1,0,31850000,18360,2014,NaN,NaN,NaN,NaN,NaN,NaN
4009,20181214,360 Fin Inc,QFIN,88557W101,.,0,1,0,287652707,18317,2016,NaN,NaN,NaN,NaN,NaN,NaN
4010,20181214,Legacy Housing Corp,LEGH,52472M101,0,0,0,0,.,18311,2005,NaN,NaN,NaN,NaN,NaN,NaN
4011,20181217,Chardan Healthcare Acq Corp,CHACU,15957A10,0,0,1,0,8750000,18419,2017,NaN,NaN,NaN,NaN,NaN,NaN
4012,20181218,Aptorum Grp Ltd,APM,G6096M106,.,0,1,0,28850553,18303,2015,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
ziggymerge2 = pd.merge(left= ccm_df, right= ziggymerge, how='left', left_on='cusip', right_on='CCM_Cusip')
ziggymerge2['CCM_Cusip'].isna().sum()/len(ziggymerge2)
ziggymerge2.to_csv('inputs/masterMerge.csv')