Modeling Notebook

In [1]:
import pandas as pd
import numpy as np

c:\Users\ziggy\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
data = pd.read_csv('inputs/cleaned_data.csv')
data

,Unnamed: 0,offer date,IPO name,cusip,SPAC IPO,datadate,scf,src,apdedate,fdate,...,re,revt,sale,seq,teq,tstk,txt,wcap,naicsh,mkvalt
0,0,06/05/1986,Genzyme,372917104,NaN,2000-12-31,7.0,5.0,NaN,NaN,...,480.941,752.483,752.483,1750.280,NaN,0.901,57.140,438.733,325414.0,8587.5923
1,1,06/16/1992,Columbia Banking System,197236102,NaN,2000-12-31,NaN,53.0,NaN,NaN,...,34.181,67.914,67.914,78.800,NaN,0.000,6.122,NaN,522110.0,122.3405
2,2,02/19/1993,Nuveen Prem Inc Muni Fund 4,6706K4105,NaN,2000-10-31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,525990.0,NaN
3,3,04/22/1993,TCW/DW Term Trust 2003,87234U108,NaN,2001-03-31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,525990.0,NaN
4,4,05/20/1993,Nuveen CT Prem Inc Muni Fund,67060D107,NaN,2001-05-31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,525990.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2137,2137,11/15/2018,Bain Capital Specialty Finance,05684B107,NaN,2018-12-31,7.0,5.0,2018-12-31,2019-03-27,...,-32.678,99.294,99.294,1001.629,1001.629,0.000,0.000,NaN,523910.0,863.3531
2138,2138,12/07/2018,Moderna Inc,60770K107,NaN,2018-12-31,7.0,5.0,2018-12-31,2019-04-09,...,-1007.947,135.068,135.068,1530.241,1530.241,0.000,0.326,1340.203,325414.0,5020.7607
2139,2139,12/07/2018,Synthorx Inc,87167A103,NaN,2018-12-31,7.0,5.0,2018-12-31,2019-04-09,...,-69.478,0.000,0.000,184.360,184.360,0.000,0.000,183.002,325414.0,545.6451
2140,2140,12/14/2018,360 Fin Inc,88557W101,NaN,2018-12-31,7.0,5.0,2018-12-31,2019-06-26,...,-62.023,646.572,646.572,645.581,645.581,0.000,67.806,646.750,522220.0,NaN
2141,2141,12/14/2018,Legacy Housing Corp,52472M101,NaN,2018-12-31,7.0,5.0,2018-12-31,2019-04-16,...,21.513,161.877,161.877,189.280,189.280,0.000,9.132,42.759,321991.0,286.3200

In [3]:
data.describe()

,Unnamed: 0,scf,src,acchg,acominc,acox,am,ano,ao,aoloch,...,re,revt,sale,seq,teq,tstk,txt,wcap,naicsh,mkvalt
count,2142.000000,1765.0,1821.000000,1694.000000,1263.000000,1691.000000,1336.000000,521.000000,1820.000000,1760.000000,...,1733.000000,1806.000000,1806.000000,1820.000000,966.000000,1795.000000,1806.000000,1486.000000,2040.000000,1656.000000
mean,1070.500000,7.0,7.830862,-0.599759,-1.654151,16.869920,8.334942,0.360800,250.306109,-2.815653,...,-28.269152,619.113250,619.113250,417.603241,540.156092,4.613867,14.615405,131.862752,422618.782843,977.255376
std,618.486459,0.0,11.862905,12.290546,64.163361,105.291668,49.399252,6.189596,3352.096556,426.500877,...,698.492941,2253.153565,2253.153565,1682.554049,1995.419421,44.201844,118.825814,386.203939,139055.507247,3299.598272
min,0.000000,7.0,3.000000,-445.422000,-925.556000,0.000000,0.000000,-5.263000,0.000000,-16417.024000,...,-12635.000000,0.000000,0.000000,-4480.000000,-4480.000000,0.000000,-298.000000,-1391.369000,42.000000,1.197000
25%,535.250000,7.0,5.000000,0.000000,-0.237500,0.325000,0.000000,0.000000,0.571000,-2.683000,...,-89.763000,25.226500,25.226500,58.005500,75.633750,0.000000,0.000000,24.146250,325414.000000,132.408250
50%,1070.500000,7.0,5.000000,0.000000,0.000000,1.894000,0.016500,0.000000,3.821000,-0.074000,...,-17.335000,103.237500,103.237500,121.178000,150.098000,0.000000,0.325000,64.850000,445110.000000,350.795100
75%,1605.750000,7.0,5.000000,0.000000,0.000000,7.464500,2.131750,0.000000,23.574000,3.349500,...,16.850000,339.658500,339.658500,274.710500,390.383000,0.000000,7.172500,127.789750,525990.000000,809.741900
max,2141.000000,7.0,88.000000,5.000000,1609.000000,2907.000000,1206.536000,100.697000,83961.000000,5674.000000,...,17689.000000,45854.000000,45854.000000,39750.591000,39751.359000,1139.298000,4070.000000,10613.000000,812990.000000,103433.646800