Modeling Notebook

In [36]:
import pandas as pd
import numpy as np
import os
import zipfile

In [43]:
ccm_youngfirms = "inputs/ccm_youngfirms_2000_2018.dta/ccm_youngfirms_2000_2018.dta"

if not os.path.exists(ccm_youngfirms):
    zip_path = "inputs/ccm_youngfirms_2000_2018.zip"

    with zipfile.ZipFile(zip_path,'r') as zip_ref:
        zip_ref.extractall("inputs/ccm_youngfirms_2000_2018.dta")
        
ccm_data = pd.read_stata(ccm_youngfirms)

ccm_data.dropna(axis=1,how='all',inplace=True)

relevant_vars = ['adrr','curuscn','scf','src','apdedate','fdate','pdate','acominc',
                 'acox','at','am','ao','aoloch','aox','ap','at','caps','capx','cb',
                 'ch','che','clg','cogs','csho','cusip','cshrt','cstk','dd','dlc','dn','do',
                 'datadate','dt','ebit','ebitda','epspi','fca','ffo','gdwl','gp','ib','intan',
                 'invt','lt','lct','ni','niadj','np','pi','ppegt','pnrsho','ppent',
                 're','revt','sale','seq','tdc','teq','tstk','txt','wcap','naicsh',
                 'mkvalt','acchg','accrt','amc','ano','arce','cshi','depc','derhedgl']

ccm_data = ccm_data[[col for col in ccm_data.columns if col in relevant_vars]]
        
SPACreadyForMerge = pd.read_csv('inputs/SPACReadyForMerge.csv')

ipo = pd.read_csv('inputs/IPO_data.csv')

In [44]:
ccm_data

,datadate,cusip,adrr,curuscn,scf,src,apdedate,fdate,pdate,acchg,...,revt,sale,seq,tdc,teq,tstk,txt,wcap,naicsh,mkvalt
0,2000-12-31,74406A102,NaN,NaN,NaN,53.0,NaT,NaT,NaT,NaN,...,5883.549,5883.549,2032.183,NaN,NaN,5.976,434.460,NaN,522110.0,16439.8825
1,2001-12-31,74406A102,NaN,NaN,NaN,8.0,NaT,NaT,NaT,NaN,...,5529.908,5529.908,1907.511,NaN,NaN,76.517,92.330,NaN,522110.0,1011.1323
2,2002-12-31,74406A102,NaN,NaN,NaN,53.0,NaT,NaT,NaT,NaN,...,4072.630,4072.630,2139.072,NaN,NaN,76.685,49.006,NaN,522110.0,1878.1411
3,2003-12-31,74406A102,NaN,NaN,NaN,5.0,2003-12-31,NaT,NaT,NaN,...,2781.408,2781.408,2325.449,NaN,NaN,15.425,128.088,NaN,522110.0,3380.8031
4,2013-12-31,68234X102,NaN,NaN,7.0,5.0,2013-12-31,2014-04-14,NaT,0.0,...,37.779,37.779,118.122,NaN,118.122,0.000,1.944,256.727,325414.0,867.8290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27783,2018-12-31,04522R200,5.0,NaN,7.0,5.0,2018-12-31,2019-06-26,2019-03-23,0.0,...,0.000,0.000,30.618,NaN,30.618,0.000,0.015,21.095,325414.0,NaN
27784,2018-12-31,G6700G107,NaN,NaN,7.0,5.0,2018-12-31,2019-03-01,2019-01-31,0.0,...,2213.600,2213.600,2687.100,NaN,2687.100,0.000,37.900,384.800,3323.0,3980.4510
27785,2018-12-31,Y28895103,NaN,NaN,7.0,5.0,2018-12-31,2019-06-14,NaT,0.0,...,319.018,319.018,292.503,NaN,292.503,0.000,1.389,66.283,483111.0,118.9594
27786,2018-12-31,Y62151108,NaN,NaN,7.0,5.0,2018-12-31,2019-04-08,2019-03-10,0.0,...,133.921,133.921,182.473,NaN,182.473,0.000,0.000,-22.247,483111.0,97.9265
27787,2018-12-31,039653100,NaN,NaN,7.0,5.0,2018-12-31,2019-03-18,2019-02-28,0.0,...,1460.400,1460.400,1684.500,NaN,1684.500,3.500,19.300,432.800,332312.0,1348.5030

In [26]:
SPACandIPO = pd.merge(left=ipo, right=SPACreadyForMerge, how='left', left_on='IPO name', right_on='MergeKey')
SPACandIPO

,Unnamed: 0,offer date,IPO name,CUSIP_x,SPAC IPO,Date of IPO,CUSIP_y,MergeKey,ClosestMatch
0,0,01/30/1975,ROYSTER,78088610,NaN,NaN,NaN,NaN,NaN
1,1,06/09/1975,VARCO,92212610,NaN,NaN,NaN,NaN,NaN
2,2,06/10/1975,COORS ADOLPH,21701610,NaN,NaN,NaN,NaN,NaN
3,3,07/15/1975,KEYSTONE FOODS CORP,49348410,Vahanna Tech Edge Acquisition I Corp.,11/23/2021,G9320Z125,KEYSTONE FOODS CORP,"('KEYSTONE FOODS CORP', 86, 3)"
4,4,08/26/1975,C. F. BRAUN,10564710,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
15442,15442,12/14/2023,INNO HOLDINGS INC.,4576JP109,NaN,NaN,NaN,NaN,NaN
15443,15443,12/15/2023,Bayview Acquisition,NaN,NaN,NaN,NaN,NaN,NaN
15444,15444,12/15/2023,ZKH GROUP LTD,98877R104,NaN,NaN,NaN,NaN,NaN
15445,15445,12/19/2023,Linkage Global Inc,G5500B102,NaN,NaN,NaN,NaN,NaN
15446,15446,12/27/2023,Iron Horse Acquisition,NaN,NaN,NaN,NaN,NaN,NaN